.navbar_customized{margin-left:10% !important;
font-size: 25px;}
.wagga_brand{font-size: 20px;}
.index-wagga {text-align: justify;}
.col-xs-6 im{border-image-width: 10px;}
.carousel-indicators {background-color: ;}
#myCarousel {background-color: ;}
.carousel-inner{}